@charset "UTF-8";
/* CSS Document */
*{
   margin:0px;
    padding:0px;
}



.container{
    width:75%;
    margin:auto;
	
}

.demi-container{
    width:35%;
    margin:auto;
	padding:25px;
	background-color:#ffffff;
	opacity: 0.75;
	
}
.bg-colorGrey{
    background-color: #f1f1f1;
}

.center{
    text-align: center;  
}

.spacer{
    height: 100px;
}
.active-link{
    color:red;
}

.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
align-items: center
   
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding:15px 35px; 
}

.borders{
	border: solid rgba(19,107,194,1.00) 2px;
}
a{
    text-decoration-line: none;
}
a:hover{
    color:red;
}
a{
    text-decoration-line: none;
	color:#000000;
}
a:hover{
    color:red;
}

a:active{
    color:red;
}
p{
	padding:15px;
}
/*****navigation and header---------------------*/

header{
    background-color: #ffffff;
	
    height: auto; 
    position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
	border-bottom:solid 2px rgba(0,0,0,1.00);
	z-index: 99999;

}

#header-image{
   width:65px;
    height:65px;   
}


#nav-bar{
    width:75%;
	
}

.nav-link{
    display:inline;
    text-decoration: none; 
    padding-right:35px;
    font-size:1.5rem;  
}



#hero{
	background-image: url('https://cdn.pixabay.com/photo/2017/03/20/15/13/wrist-watch-2159351_1280.jpg');
	width:100%;
	height: 75vh;
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


/***********video*********/
iframe{
	width:100%;
	height: 50vh;
}



/*product*/
#products{
	width:100%;
}

#products .container {
  position: relative;
  width: 100% !important;
  height:auto;
 
}

.image {
  display: block;
  width: 100%;
  height: 65vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  rgba(0,0,0,1.00);
}

#products .container:hover .overlay {
  opacity: 1 !important;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
text-align: justify;
}


/***********Form*********/

form{
	background-color: #000000;
	color:#ffffff;
	font-size:1rem;
}

[type="email"]{
    height:30px;
	font-size: 1rem;
	width:45%;

}
form button{
	padding: 5px;
    border-radius: 5px;
    /*width:30%;*/
    border: 3px solid #82e0dc;
    font-size:1em;
    
}

footer{
	background-color: #000000;
	color:#ffffff;
	padding: 15px;
	
}


/*   media queries*/
@media (max-width: 600px) {
	
	.row {
    	-webkit-flex-direction: column;
    	flex-direction: column;
}
	
	.demi-container{
    width:100%;
    
}
	
	.nav-link{
    display:block;
    text-decoration: none; 
    padding:10px 5px;
    font-size:1rem; 
	text-align: left;
}
	
}